
#doneSearchBox {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
}

#doneSearchBox input[type="date"] {
  flex: 1 1 120px;
  max-width: 140px;
  min-width: 100px;
  padding: 8px;
  font-size: 16px;
}

#doneSearchBox input[type="text"] {
  flex: 0 0 120px;
  max-width: 140px;
  min-width: 100px;
  padding: 8px;
  font-size: 16px;
}
